<h1>{{ poll.question }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}

    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} <small>({{ choice.votes }})</small></label><br>
    {% endfor %}
    <input type="submit" value="Vote!">
</form>
