{% if latest_polls_list %}
    <ul>
        {% for p in latest_polls_list %}
            <li>
                <a href="{% url 'polls:detail' p.id %}">{{ p.question }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}